<h1>Burgers</h1></h1>

<h2>burgers that aren't eaten</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">eat!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>burgers that were devoured</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">make it again!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>build a burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">burger name:</label>
    <input type="text" id="burg" name="name">
  </div>

  <div class="form-group">
    <label for="slee">eat it?</label><br>
    <input type="radio" name="devoured" value="1" checked> yes plz<br>
    <input type="radio" name="devoured" value="0"> I'm not hungry
  </div>

  <button type="submit">add burger</button>
</form>
